n8n_workflows/stock_analyzer_workflow_n8n.json
{
  "name": "mkhalidi_stock_analyzer_workflow_n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sahl-analyze-stocks",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        1776
      ],
      "id": "76b79756-e7b9-40d4-a032-73e1d30813e0",
      "name": "Webhook",
      "webhookId": "385e79be-ed2a-4424-bcc1-a95bb384bc2e"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Sahl Stock Analysis Report ({{ $('Webhook').item.json.body.date }})",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"margin:0; padding:0; background-color:#1A0D28; font-family:Arial, Helvetica, sans-serif; color:#F7F6FB;\">\n    <div style=\"background-color:#1A0D28; padding:32px 20px;\">\n      <div style=\"max-width:800px; margin:0 auto;\">\n\n        <!-- Main Card -->\n        <div style=\"background-color:#26183D; border-radius:20px; padding:32px; box-sizing:border-box;\">\n          <div style=\"color:#B8AFD6; font-size:18px; font-weight:600; margin-bottom:24px;\">\n            Portfolio Analysis Report\n          </div>\n\n          <div style=\"font-size:22px; font-weight:700; color:#F7F6FB; margin-bottom:18px;\">\n            Market Outlook\n          </div>\n          <div style=\"font-size:16px; line-height:1.6; color:#F7F6FB; margin-bottom:24px;\">\n            {{ $json.output[0].content[0].text.market_outlook }}\n          </div>\n\n          <div style=\"font-size:16px; color:#B8AFD6; margin-bottom:8px;\">\n            Confidence Score: <span style=\"color:#F7F6FB; font-weight:700;\">{{ $json.output[0].content[0].text.confidence_score }}</span>\n          </div>\n\n          <div style=\"font-size:16px; color:#B8AFD6; margin-bottom:28px;\">\n            Hedge Summary: <span style=\"color:#F7F6FB; font-weight:700;\">{{ $json.output[0].content[0].text.hedge_summary }}</span>\n          </div>\n        </div>\n\n        <!-- Macro Risks -->\n        <div style=\"margin-top:28px; background-color:#26183D; border-radius:20px; padding:28px;\">\n          <div style=\"font-size:18px; font-weight:700; color:#F7F6FB; margin-bottom:18px;\">\n            Macro Risks\n          </div>\n          <ul style=\"padding-left:20px; margin:0; color:#F7F6FB; line-height:1.8;\">\n            {{\n              $json.output[0].content[0].text.macro_risks.map(risk => `<li style=\"margin-bottom:8px;\">${risk}</li>`).join('')\n            }}\n          </ul>\n        </div>\n\n        <!-- Portfolio Adjustments -->\n        <div style=\"margin-top:28px; background-color:#26183D; border-radius:20px; padding:28px;\">\n          <div style=\"font-size:18px; font-weight:700; color:#F7F6FB; margin-bottom:18px;\">\n            Portfolio Adjustments\n          </div>\n          <ul style=\"padding-left:20px; margin:0; color:#F7F6FB; line-height:1.8;\">\n            {{\n              $json.output[0].content[0].text.portfolio_adjustments.map(item => `<li style=\"margin-bottom:8px;\">${item}</li>`).join('')\n            }}\n          </ul>\n        </div>\n\n        <!-- Top Trade Ideas -->\n        <div style=\"margin-top:28px; background-color:#26183D; border-radius:20px; padding:28px;\">\n          <div style=\"font-size:18px; font-weight:700; color:#F7F6FB; margin-bottom:18px;\">\n            Top Trade Ideas\n          </div>\n\n          {{\n            $json.output[0].content[0].text.top_trade_ideas.length\n              ? $json.top_trade_ideas.map(idea => `\n                <div style=\"border:1px solid #4A3B68; border-radius:14px; padding:18px; margin-bottom:14px; background-color:#2D1D47;\">\n                  <div style=\"font-size:17px; font-weight:700; color:#F7F6FB; margin-bottom:8px;\">\n                    ${idea.ticker}\n                  </div>\n                  <div style=\"font-size:15px; color:#B8AFD6; margin-bottom:8px;\">\n                    Thesis\n                  </div>\n                  <div style=\"font-size:15px; color:#F7F6FB; line-height:1.6; margin-bottom:10px;\">\n                    ${idea.thesis}\n                  </div>\n                  <div style=\"font-size:14px; color:#B8AFD6; margin-bottom:6px;\">\n                    Signal Alignment: <span style=\"color:#F7F6FB;\">${idea.signal_alignment}</span>\n                  </div>\n                  <div style=\"font-size:14px; color:#B8AFD6;\">\n                    Risk Level: <span style=\"color:#F7F6FB;\">${idea.risk_level}</span>\n                  </div>\n                </div>\n              `).join('')\n              : `<div style=\"color:#B8AFD6; font-size:15px;\">No strong trade ideas supported by the current signal set.</div>`\n          }}\n        </div>\n\n        <!-- Notes -->\n        <div style=\"margin-top:28px; background-color:#26183D; border-radius:20px; padding:28px;\">\n          <div style=\"font-size:18px; font-weight:700; color:#F7F6FB; margin-bottom:18px;\">\n            Notes\n          </div>\n          <div style=\"font-size:15px; line-height:1.7; color:#B8AFD6;\">\n            {{ $json.output[0].content[0].text.notes }}\n          </div>\n        </div>\n\n      </div>\n    </div>\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        1904
      ],
      "id": "e2dd0711-7571-4cd9-b8d5-9d8ec82904a0",
      "name": "Send a message",
      "webhookId": "783da24b-74d6-4922-be69-73c90cda1b9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "HlHyqopUdRxp0G7e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Analysis report sent to your email.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        1904
      ],
      "id": "29657bec-ea2e-416d-8be2-6ceb66b6d79f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        1152
      ],
      "id": "c173063a-c4e1-4c4a-9dc6-a09563fc4cc1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"macro_indicators\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"inflation_cpi\": { \"type\": \"string\" },\n        \"policy_rate\": { \"type\": \"string\" },\n        \"gdp_growth\": { \"type\": \"string\" },\n        \"unemployment\": { \"type\": \"string\" },\n        \"yield_curve_10y_2y\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"inflation_cpi\",\n        \"policy_rate\",\n        \"gdp_growth\",\n        \"unemployment\",\n        \"yield_curve_10y_2y\"\n      ]\n    },\n    \"market_regime\": { \"type\": \"string\" },\n    \"confidence_score\": { \"type\": \"string\" },\n    \"reasoning\": { \"type\": \"string\" },\n    \"historical_outperformers\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"macro_indicators\",\n    \"market_regime\",\n    \"confidence_score\",\n    \"reasoning\",\n    \"historical_outperformers\",\n    \"sources\",\n    \"notes\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        1152
      ],
      "id": "4dcea80a-bd71-4133-ba33-64317b20cf5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for macroeconomic data published within the last 30 days from reliable sources such as the Federal Reserve, ECB, IMF, FRED, BLS, BEA, or major financial media.\n\nRetrieve the most recent verified values for:\n- inflation / CPI trend\n- policy interest rate\n- GDP growth\n- unemployment\n- yield curve spread (10Y minus 2Y if available)\n\nBased on these indicators, classify the current market regime using one of the following:\n- Inflationary Growth\n- Disinflationary Growth\n- Stagflation\n- Recession\n- Liquidity Driven Bull Market\n\nReturn:\n1. Current macro indicators\n2. Identified market regime\n3. Confidence score from 0 to 1\n4. Concise reasoning summary\n5. Historically outperforming sectors or asset classes in this regime\n6. Sources used\n\nIf some indicators are unavailable, use the best recent verified values you can find and explain the limitation in notes.\n\nReturn raw JSON only.\n\nImportant output rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        1008
      ],
      "id": "417c8dd1-bf6d-45d3-9e6b-35aa75f0b161",
      "name": "Market Regime Detection Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        1456
      ],
      "id": "9fa0fefd-622a-47e0-b327-9d559bf11f4f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"macro_environment_summary\": { \"type\": \"string\" },\n    \"historical_comparisons\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"period\": { \"type\": \"string\" },\n          \"macro_conditions\": { \"type\": \"string\" },\n          \"outperforming_sectors\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\"period\", \"macro_conditions\", \"outperforming_sectors\"]\n      }\n    },\n    \"expected_outperforming_assets\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"macro_environment_summary\",\n    \"historical_comparisons\",\n    \"expected_outperforming_assets\",\n    \"sources\",\n    \"notes\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        1456
      ],
      "id": "78ee0840-66ce-41f3-b881-ebe3051333d5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for macroeconomic data and market commentary published within the last 30 days from reliable sources such as FRED, Federal Reserve, ECB, IMF, Reuters, Bloomberg, Financial Times, CNBC, or similar high-quality financial sources.\n\nRetrieve the latest values for:\n- inflation\n- interest rates\n- GDP growth\n- employment / unemployment\n\nThen determine which sectors or asset classes historically outperform in similar macro conditions.\n\nReturn:\n1. A concise summary of the current macro environment\n2. Three historical comparison periods with similar macro conditions\n3. For each comparison period, the sectors that outperformed\n4. The sectors or assets most likely to outperform now\n5. Sources used\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        1312
      ],
      "id": "7d318be9-3015-4c35-b37c-d71f81934877",
      "name": "Top-Down Macro Analysis Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        848
      ],
      "id": "d225ef4a-2998-4681-943e-3ee635f9c988",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"recommended_hedge\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"instrument\": { \"type\": \"string\" },\n        \"instrument_type\": { \"type\": \"string\" },\n        \"hedge_ratio_percent\": { \"type\": \"string\" },\n        \"estimated_annual_cost_percent\": { \"type\": \"string\" },\n        \"trigger_scenario\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"instrument\",\n        \"instrument_type\",\n        \"hedge_ratio_percent\",\n        \"estimated_annual_cost_percent\",\n        \"trigger_scenario\"\n      ]\n    },\n    \"pros\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"cons\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"recommended_hedge\", \"pros\", \"cons\", \"sources\", \"notes\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        848
      ],
      "id": "19b43acc-ee33-4050-af42-f3ae3a5f6df1",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=My portfolio is exposed to the following sectors and markets:\n\nHoldings:\n{{ JSON.stringify($json.output[0].content[0].text.holdings) }}\nSector Exposure:\n{{ JSON.stringify($json.output[0].content[0].text.sector_exposure) }}\n\nMarket Exposure:\n{{ JSON.stringify($json.output[0].content[0].text.market_exposure) }}\n\nSearch the web for current volatility data, options market information, and available inverse ETFs using reliable market sources such as CBOE, ETF issuers, exchange data, or reputable financial media.\n\nDesign an efficient hedge strategy.\n\nEvaluate both:\n- options-based hedges\n- inverse ETF hedges\n\nReturn:\n1. Recommended hedge instrument\n2. Instrument type\n3. Hedge ratio as percent of portfolio\n4. Estimated annualized cost as percent\n5. Trigger scenario for activation\n6. Main pros\n7. Main cons\n8. Sources used\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        688
      ],
      "id": "8313d23f-4cc7-4b30-84b0-8edd78d042cd",
      "name": "Portfolio Hedging Strategy Agent"
    },
    {
      "parameters": {
        "jsCode": "const holdings = $input.first().json.body.holdings\nconst totalValue = holdings.reduce((sum, h) => sum + h.marketValue, 0);\n\nconst weightedHoldings = holdings.map(h => ({\n  ticker: h.symbol,\n  marketValue: h.marketValue,\n  weight: h.marketValue / totalValue\n}));\n\nreturn [{\n  json: {\n    totalPortfolioValue: totalValue,\n    holdings: weightedHoldings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        688
      ],
      "id": "729a9c77-a161-4649-8de0-8f51ab7b3a7c",
      "name": "Calculate Holdings Weights"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a financial data parser.\n\nYou will be given a portfolio holdings array. Each holding contains:\n- ticker\n- marketValue\n- weight\n\nTask:\n1. For each ticker, identify its primary sector using standard GICS-style classification.\n2. Identify the market exposure for each ticker, for example: US Equities, International Equities, Emerging Markets, ETF, ADR, or other relevant classification.\n3. Preserve the provided portfolio weight exactly.\n4. Aggregate total portfolio exposure by sector.\n5. Aggregate total portfolio exposure by market.\n6. Identify the single largest sector exposure.\n\nUse recent and reliable financial sources if needed to verify the sector and market classification.\nDo not invent tickers.\nDo not change the provided weights.\nIf any ticker cannot be classified confidently, exclude it from aggregated exposures and mention it in notes.\n\nReturn raw JSON only.\n\nPortfolio Holdings:\n{{ JSON.stringify($json.holdings) }}\n\nImportant output rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\"."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"holdings\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"sector\": { \"type\": \"string\" },\n          \"market\": { \"type\": \"string\" },\n          \"weight\": { \"type\": \"string\" }\n        },\n        \"required\": [\"ticker\", \"sector\", \"market\", \"weight\"]\n      }\n    },\n    \"sector_exposure\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"sector\": { \"type\": \"string\" },\n          \"total_weight\": { \"type\": \"string\" }\n        },\n        \"required\": [\"sector\", \"total_weight\"]\n      }\n    },\n    \"market_exposure\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"market\": { \"type\": \"string\" },\n          \"total_weight\": { \"type\": \"string\" }\n        },\n        \"required\": [\"market\", \"total_weight\"]\n      }\n    },\n    \"largest_sector_exposure\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"sector\": { \"type\": \"string\" },\n        \"weight\": { \"type\": \"string\" }\n      },\n      \"required\": [\"sector\", \"weight\"]\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"holdings\",\n    \"sector_exposure\",\n    \"market_exposure\",\n    \"largest_sector_exposure\",\n    \"notes\"\n  ]\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1040,
        688
      ],
      "id": "d66339c5-367c-48ad-b4b1-11ed1807a562",
      "name": "Sector/Market Extraction",
      "credentials": {
        "openAiApi": {
          "id": "gtxSyeuL8osUpsEa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        1760
      ],
      "id": "895f5ddb-e377-4ea6-92a4-57472821c4d4",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"short_squeeze_candidates\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"short_float_percent\": { \"type\": \"string\" },\n          \"days_to_cover\": { \"type\": \"string\" },\n          \"borrow_rate_percent\": { \"type\": \"string\" },\n          \"catalyst\": { \"type\": \"string\" },\n          \"catalyst_timing\": { \"type\": \"string\" },\n          \"entry_strategy\": { \"type\": \"string\" },\n          \"squeeze_failure_risk\": { \"type\": \"string\" },\n          \"sources\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\n          \"ticker\",\n          \"short_float_percent\",\n          \"days_to_cover\",\n          \"borrow_rate_percent\",\n          \"catalyst\",\n          \"catalyst_timing\",\n          \"entry_strategy\",\n          \"squeeze_failure_risk\",\n          \"sources\"\n        ]\n      }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"short_squeeze_candidates\", \"notes\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        1760
      ],
      "id": "e9caad36-d8da-4b48-bf24-36a5bd7e0963",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web using recent financial databases and news sources such as Finviz, Fintel, ShortSqueeze, MarketWatch, Reuters, Bloomberg, or similar sources.\n\nIdentify 5 stocks that meet as many of the following criteria as possible using the most recent available data:\n- short interest greater than 20 percent of float\n- days to cover greater than 3\n- elevated borrow rate or borrow fee\n- a near-term catalyst such as earnings, FDA decision, product launch, merger vote, or major announcement\n\nFor each stock return:\n- ticker\n- short float percent\n- days to cover\n- borrow rate percent\n- catalyst\n- catalyst timing\n- entry strategy\n- squeeze failure risk\n- sources\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        1616
      ],
      "id": "5044e524-e3e0-4bb9-b95d-2831b57193f2",
      "name": "Short Squeeze Screener Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        2064
      ],
      "id": "1f42e3fd-99b7-4fe7-8368-b74de8422c73",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"ma_targets\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"industry\": { \"type\": \"string\" },\n          \"likely_acquirer\": { \"type\": \"string\" },\n          \"acquisition_rationale\": { \"type\": \"string\" },\n          \"historical_sector_premium_percent\": { \"type\": \"string\" },\n          \"regulatory_risk\": { \"type\": \"string\" },\n          \"sources\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\n          \"ticker\",\n          \"industry\",\n          \"likely_acquirer\",\n          \"acquisition_rationale\",\n          \"historical_sector_premium_percent\",\n          \"regulatory_risk\",\n          \"sources\"\n        ]\n      }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"ma_targets\", \"notes\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        2064
      ],
      "id": "8f5fac48-5620-420b-9f69-d37276046ad7",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for financial news and M&A analysis published within the last 30 days from sources such as Reuters, Bloomberg, Financial Times, CNBC, WSJ, activist investor coverage, and sector publications.\n\nIdentify up to 5 companies that could be realistic acquisition targets based on factors such as:\n- sector consolidation\n- attractive valuation relative to peers\n- shareholder activism\n- strategic fit for a larger acquirer\n\nFor each company return:\n- ticker\n- industry\n- likely_acquirer\n- acquisition_rationale\n- historical_sector_premium_percent\n- regulatory_risk\n- sources\n\nRules:\n- Use only supportable information from retrieved results.\n- If fewer than 5 companies can be supported, return fewer.\n- If none can be supported, return an empty array.\n- If a field cannot be verified, return \"unknown\".\n- Put all limitations in notes.\n\nCritical instructions:\n- Always return exactly one valid JSON object matching the schema.\n- Return raw JSON only.\n- Do not use markdown code fences.\n- Do not add an outer \"output\" key.\n- Do not explain the schema.\n- Do not explain formatting rules.\n- Do not mention contradictions or limitations outside the JSON.\n- Do not ask for clarification.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        1920
      ],
      "id": "c904f842-52d0-4765-be48-a7dc84f89847",
      "name": "M&A Radar Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        2368
      ],
      "id": "012353c8-b9f9-4e3a-b95b-44f6f79482b7",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"sentiment_arbitrage_opportunities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"negative_sentiment_reason\": { \"type\": \"string\" },\n          \"fundamental_strength\": { \"type\": \"string\" },\n          \"potential_catalyst\": { \"type\": \"string\" },\n          \"technical_entry_level\": { \"type\": \"string\" },\n          \"sources\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\n          \"ticker\",\n          \"negative_sentiment_reason\",\n          \"fundamental_strength\",\n          \"potential_catalyst\",\n          \"technical_entry_level\",\n          \"sources\"\n        ]\n      }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"sentiment_arbitrage_opportunities\", \"notes\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        2368
      ],
      "id": "9bc8af98-3280-45be-b12f-b88ac5ecb93a",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for recent financial news, analyst commentary, and sentiment signals published within the last 30 days.\n\nFind 6 stocks where market sentiment appears negative while the underlying fundamentals remain relatively strong.\n\nFor each idea return:\n- ticker\n- reason for negative sentiment\n- fundamental strength that contradicts the negative narrative\n- potential catalyst for sentiment reversal\n- technical entry level\n- sources\n\nPrefer names where the mismatch is clear and evidence-based. Use recent data and recent commentary. Return structured JSON only.\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        2224
      ],
      "id": "fbc8565a-04e4-4da3-a47d-88e9ffeebc0f",
      "name": "Sentiment vs Fundamentals Arbitrage Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        2672
      ],
      "id": "d14ecdd8-9751-4498-9fec-0e09a9e3d496",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"dividend_risk_companies\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"dividend_yield_percent\": { \"type\": \"string\" },\n          \"payout_ratio_percent\": { \"type\": \"string\" },\n          \"free_cash_flow_trend\": { \"type\": \"string\" },\n          \"dividend_cut_probability\": { \"type\": \"string\" },\n          \"safer_alternatives\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"sources\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\n          \"ticker\",\n          \"dividend_yield_percent\",\n          \"payout_ratio_percent\",\n          \"free_cash_flow_trend\",\n          \"dividend_cut_probability\",\n          \"safer_alternatives\",\n          \"sources\"\n        ]\n      }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\"dividend_risk_companies\", \"notes\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        2672
      ],
      "id": "20175335-ca78-4d54-8703-c6a0dc2fd01b",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web using the most recent available company financial data and recent news.\n\nIdentify up to 5 companies with dividend yields above 5 percent that may be at risk of a dividend cut.\n\nLook for warning signs such as:\n- payout ratio above 80 percent\n- negative free cash flow\n- rising debt\n- declining earnings\n- negative recent developments affecting dividend coverage\n\nFor each company return:\n- ticker\n- dividend yield percent\n- payout ratio percent\n- free cash flow trend\n- dividend cut probability\n- safer alternatives in the same sector\n- sources\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        2528
      ],
      "id": "784987a6-4cf9-4933-8744-b34dff032d3a",
      "name": "Dividend Danger Radar Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        2976
      ],
      "id": "99b0d2eb-3ffa-45d4-a17b-986f2af3317f",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "SPTViRh1b6uD8Ank",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"new_positions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fund_name\": { \"type\": \"string\" },\n          \"ticker\": { \"type\": \"string\" }\n        },\n        \"required\": [\"fund_name\", \"ticker\"]\n      }\n    },\n    \"increased_positions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fund_name\": { \"type\": \"string\" },\n          \"ticker\": { \"type\": \"string\" }\n        },\n        \"required\": [\"fund_name\", \"ticker\"]\n      }\n    },\n    \"reduced_positions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fund_name\": { \"type\": \"string\" },\n          \"ticker\": { \"type\": \"string\" }\n        },\n        \"required\": [\"fund_name\", \"ticker\"]\n      }\n    },\n    \"exited_positions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"fund_name\": { \"type\": \"string\" },\n          \"ticker\": { \"type\": \"string\" }\n        },\n        \"required\": [\"fund_name\", \"ticker\"]\n      }\n    },\n    \"sector_trends\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"new_positions\",\n    \"increased_positions\",\n    \"reduced_positions\",\n    \"exited_positions\",\n    \"sector_trends\",\n    \"sources\",\n    \"notes\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -528,
        2976
      ],
      "id": "0a1bcebc-4979-49b9-9381-dbf690a07c7a",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for the latest available 13F filings and hedge fund tracking data using sources such as WhaleWisdom, Dataroma, SEC filings, or other reliable institutional ownership sources.\n\nAnalyze the top 10 hedge funds by assets under management.\n\nCompare the latest quarter versus the previous quarter and return:\n- new positions\n- increased positions\n- reduced positions\n- exited positions\n- sector trends across the group\n- sources\n\nEach position item should include:\n- fund_name\n- ticker\n\nImportant rules:\nReturn raw JSON only.\nDo not wrap the output in markdown code fences.\nDo not add an outer \"output\" key.\nAll values must be strings.\nIf a value cannot be verified, return \"unknown\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -672,
        2832
      ],
      "id": "3d70f5c9-5f79-485a-8d26-2ccaa1d228a2",
      "name": "Institutional Positioning Agent"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        1808
      ],
      "id": "bcd8119a-e1d0-46a7-9f22-e8e528551e26",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst combined = {\n  portfolio_exposure: {},\n  market_regime: {},\n  macro_analysis: {},\n  hedge_strategy: {},\n  short_squeeze: {},\n  ma_radar: {},\n  sentiment_arbitrage: {},\n  dividend_danger: {},\n  institutional_positioning: {}\n};\n\nfor (const item of items) {\n  const data = item.json.output ?? item.json;\n\n  if (data.holdings || data.sector_exposure || data.market_exposure) {\n    combined.portfolio_exposure = data;\n  } else if (data.market_regime || data.macro_indicators) {\n    combined.market_regime = data;\n  } else if (data.macro_environment_summary || data.historical_comparisons) {\n    combined.macro_analysis = data;\n  } else if (data.recommended_hedge) {\n    combined.hedge_strategy = data;\n  } else if (data.short_squeeze_candidates) {\n    combined.short_squeeze = data;\n  } else if (data.ma_targets) {\n    combined.ma_radar = data;\n  } else if (data.sentiment_arbitrage_opportunities) {\n    combined.sentiment_arbitrage = data;\n  } else if (data.dividend_risk_companies) {\n    combined.dividend_danger = data;\n  } else if (\n    data.new_positions ||\n    data.increased_positions ||\n    data.reduced_positions ||\n    data.exited_positions\n  ) {\n    combined.institutional_positioning = data;\n  }\n}\n\nreturn [{ json: combined }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1904
      ],
      "id": "53e7f75c-5b8d-4764-b52e-c2ee5becc0e4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a market intelligence fusion engine.\n\nYou will receive structured outputs from upstream agents:\n- portfolio_exposure\n- market_regime\n- macro_analysis\n- hedge_strategy\n- short_squeeze\n- ma_radar\n- sentiment_arbitrage\n- dividend_danger\n- institutional_positioning\n\nYour task is to synthesize all available evidence and produce:\n1. Top trade ideas\n2. Key macro risks\n3. Portfolio adjustment suggestions\n4. Hedge recommendation summary\n5. Overall market outlook\n6. Confidence score\n\nInstructions:\n- Prioritize consistency across multiple signals.\n- Favor ideas aligned with the current macro regime.\n- Prefer risk-adjusted opportunities over speculative ones.\n- Avoid contradictory recommendations.\n- Use only the information provided below.\n- If upstream data is limited, still return the best possible structured synthesis.\n- If no strong trade ideas are supported, return an empty array for top_trade_ideas.\n- Use the notes field to explain uncertainty, missing evidence, or conflicts across signals.\n- All values must be strings.\n- Return raw JSON only.\n- Do not use markdown code fences.\n- Do not add an outer \"output\" key.\n- Do not return prose outside the JSON.\n\nPortfolio Exposure:\n{{ JSON.stringify($json.portfolio_exposure) }}\n\nMarket Regime:\n{{ JSON.stringify($json.market_regime) }}\n\nMacro Analysis:\n{{ JSON.stringify($json.macro_analysis) }}\n\nHedge Strategy:\n{{ JSON.stringify($json.hedge_strategy) }}\n\nShort Squeeze:\n{{ JSON.stringify($json.short_squeeze) }}\n\nM&A Radar:\n{{ JSON.stringify($json.ma_radar) }}\n\nSentiment Arbitrage:\n{{ JSON.stringify($json.sentiment_arbitrage) }}\n\nDividend Danger:\n{{ JSON.stringify($json.dividend_danger) }}\n\nInstitutional Positioning:\n{{ JSON.stringify($json.institutional_positioning) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"top_trade_ideas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"ticker\": { \"type\": \"string\" },\n          \"thesis\": { \"type\": \"string\" },\n          \"signal_alignment\": { \"type\": \"string\" },\n          \"risk_level\": { \"type\": \"string\" }\n        },\n        \"required\": [\"ticker\", \"thesis\", \"signal_alignment\", \"risk_level\"]\n      }\n    },\n    \"macro_risks\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"portfolio_adjustments\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"hedge_summary\": { \"type\": \"string\" },\n    \"market_outlook\": { \"type\": \"string\" },\n    \"confidence_score\": { \"type\": \"string\" },\n    \"notes\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"top_trade_ideas\",\n    \"macro_risks\",\n    \"portfolio_adjustments\",\n    \"hedge_summary\",\n    \"market_outlook\",\n    \"confidence_score\",\n    \"notes\"\n  ]\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        496,
        1904
      ],
      "id": "73030129-9f38-4d0a-8af0-9cef10e2e712",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "gtxSyeuL8osUpsEa",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Market Regime Detection Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top-Down Macro Analysis Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Holdings Weights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Short Squeeze Screener Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "M&A Radar Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment vs Fundamentals Arbitrage Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dividend Danger Radar Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Institutional Positioning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Market Regime Detection Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Market Regime Detection Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Top-Down Macro Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Top-Down Macro Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Portfolio Hedging Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Portfolio Hedging Strategy Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Holdings Weights": {
      "main": [
        [
          {
            "node": "Sector/Market Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sector/Market Extraction": {
      "main": [
        [
          {
            "node": "Portfolio Hedging Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Short Squeeze Screener Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Short Squeeze Screener Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "M&A Radar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "M&A Radar Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment vs Fundamentals Arbitrage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Sentiment vs Fundamentals Arbitrage Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Dividend Danger Radar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Dividend Danger Radar Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Institutional Positioning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Institutional Positioning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "M&A Radar Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Portfolio Hedging Strategy Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Regime Detection Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Top-Down Macro Analysis Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Short Squeeze Screener Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Sentiment vs Fundamentals Arbitrage Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Dividend Danger Radar Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Institutional Positioning Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5907083-6af6-4198-884f-fe52f6f93c9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41e1f8f5877206544ab3b444cf059e5ce58d0bfb604c54e6614b93da0fca3808"
  },
  "id": "CU5MUhs4RrGdtebt",
  "tags": []
}